<header class="navbar">

<div class="logo">
<img src="assets/icons/favicon-32.png">
<span>Portal de Trabajo</span>
</div>
<a href="login.html" class="login-btn">Iniciar sesión</a>

</header>

import os

mysql.connector.connect(
    host=os.getenv("DB_HOST"),
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASSWORD"),
    database=os.getenv("DB_NAME"),
    port=os.getenv("DB_PORT")
)

git config --global user.name "Darkness"
git config --global user.email "darkness@gmail.com"

MYSQLDATABASE=railway
MYSQLHOST=autorack.proxy.rlwy.net
MYSQLPASSWORD=FMZvaTsdyPgzOXFHCBkwdNadlalMYitc
MYSQLPORT=37017
MYSQLUSER=root

https://github.com/lapaixperezleonardo2/Portaljob.git enlace al repositorio del github

mysql://root:FMZvaTsdyPgzOXFHCBkwdNadlalMYitc@autorack.proxy.rlwy.net:37017/railway pa conectar con mysql railway